<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="web-IDE" Manufacturer="web-IDE" Version="0.1.0" UpgradeCode="PUT-GUID-HERE">
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="web-IDE" />
    </StandardDirectory>
  </Package>
</Wix>
